html {
  font-size: 14px;

  @media (min-width: 768px) {
    font-size: 16px;
  }
}

#menu-item {
  padding: 0;
}

#menu-item a.active {
  background-color: white;
  padding: .25rem;
  border-radius: .25rem;
}

#menu-item a.active:hover {
  background-color: #38b2ac;
}

